<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Marionette Contact Manager</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="./assets/css/main.css" rel="stylesheet">
  </head>

  <body>

    <!-- HTML
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">Differences between Backbone and Marionette</span>
        </div>
      </div>
    </div>

    <div id="app-container">
      <div id="backbone-container" class="container span6">
        <div data-ui="header-region">Header Content goes here</div>
        <div data-ui="main-region">Main Content goes here</div>
      </div>

      <div id="marionette-container" class="container span6">
        <div data-ui="header-region"><h3>Header Content goes here</h3></div>
        <div data-ui="main-region">Main Content goes here</div>
      </div>
    </div>

    <!-- Templates
    ================================================== -->
    <script type="text/template" id="bills-template">
      <h2>Bills</h2>
    </script>

    <script type="text/template" id="bill-template">
      <p data-property="name"><strong>Name:</strong> <%= name %></p>
      <p data-property="institution"><strong>Institution:</strong> <%= institution %></p>
      <p data-property="statementGenerationDayOfMonth"><strong>Statement generation day of the month:</strong> <%= statementGenerationDayOfMonth %></p>
      <p data-property="statementDueDay"><strong>Statement due day of the month:</strong> <%= statementDueDay %></p>
    </script>

    <script type="text/template" id="static-template">
      Hello there.
    </script>


    <!-- Javascript
    ================================================== -->
    <script src="./assets/js/vendor/jquery.js"></script>
    <script src="./assets/js/vendor/bootstrap.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>
    <script src="./assets/js/app-data.js"></script>
    <script src="./assets/js/backbone-implementation.js"></script>
    <script src="./assets/js/marionette-implementation.js"></script>

  </body>
</html>
