<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Marionette Contact Manager</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="./assets/css/main.css" rel="stylesheet">
  </head>

  <body>

    <!-- HTML
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">Differences between Backbone and Marionette</span>
        </div>
      </div>
    </div>

    <div id="app-container">
      <div id="backbone-container" class="container span6"></div>

      <div id="marionette-container" class="container span6">
        <div id="main-region">
          <p>Here is static content in the web page. You'll notice that it
          gets replaced by our app as soon as we start it.</p>
        </div>
      </div>
    </div>

    <!-- Templates
    ================================================== -->
    <script type="text/template" id="books-template">
      <h2>Books</h2>
    </script>

    <script type="text/template" id="book-template">
      <p data-property="title"><strong>Title:</strong> <%= title %></p>
      <p data-property="author"><strong>Author:</strong> <%= author %></p>
      <p data-property="publishYear"><strong>Year Published:</strong> <%= publishYear %></p>
    </script>

    <script type="text/template" id="static-template">
      Hello there.
    </script>


    <!-- Javascript
    ================================================== -->
    <script src="./assets/js/vendor/jquery.js"></script>
    <script src="./assets/js/vendor/bootstrap.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>
    <script src="./assets/js/app-data.js"></script>
    <script src="./assets/js/backbone-implementation.js"></script>
    <script src="./assets/js/marionette-implementation.js"></script>

  </body>
</html>
