<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'/>
    <title>AJAX API Tutorial</title>
  </head>

  <body>
    <h1>Ajax API Tutorial</h1>

    {% block body %}{% endblock %}

    <script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="bower_components/nunjucks/browser/nunjucks.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
  </body>
</html>
