{
  "extends": [ "eslint:recommended", "plugin:react/recommended" ],
  "plugins": [ "react" ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "comma-dangle": 1,
    "no-console": "off",
    "quotes": [1, "single"],
    "vars-on-top": 2,
  }
}
